.NavBar {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  z-index: 3;
}

.NavBar-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 3;
}

.NavBar-Brand {
  font-size: 2.5rem;
  margin-left: 3%;
}

.NavBar-Links {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
}

.NavBar-Links-Contact {
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
}

.NavBar-Links-Contact a {
  font-size: 1.25rem;
  height: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: flex-end;
}

.NavBar-Links a {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 100%;
  width: 7rem;
}

.NavBar-Links a:hover {
  color: coral;
  transition: 1s;
}

.sandwich-menu {
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  justify-content: space-between;
  height: 30px;
  padding: 5px;
  z-index: 5;
}

.test {
  background-color: aqua;
}

.sandwich-menu div {
  border: 2px solid white;
  width: 30px;
}

.sandwich-menu-tray {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.sandwich-menu-links {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-self: center;
  text-align: center;
  padding: 2rem;
}

.sandwich-menu-links a {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 1860px) {
  .NavBar-Links a {
    width: fit-content;
  }
}

@media (max-width: 1300px) {
  .NavBar {
    height: 3rem;
  }
  .NavBar-Brand {
    font-size: 1.25rem;
    font-weight: 900;
  }

  .NavBar-Links a {
    font-size: 0.5rem;
  }
}
